{
  "openapi": "3.0.0",
  "info": {
    "title": "OTRUST Blockchain Timestamp API",
    "version": "1.0.0",
    "description": "Free, zero-knowledge REST API for blockchain-anchored timestamping. Prove data existed at a specific time using Bitcoin blockchain and OpenTimestamps.",
    "contact": {
      "name": "OTRUST",
      "url": "https://www.otrust.eu",
      "email": "hello@otrust.eu"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://www.otrust.eu"
    }
  ],
  "paths": {
    "/challenge": {
      "get": {
        "summary": "Get proof-of-work challenge",
        "description": "Returns a PoW challenge that must be solved before submitting a timestamp claim. Challenge expires after 1 hour.",
        "tags": ["Timestamps"],
        "responses": {
          "200": {
            "description": "Challenge generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge": {
                      "type": "string",
                      "example": "abc123def456..."
                    },
                    "difficulty": {
                      "type": "integer",
                      "example": 16
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many challenges requested (max 5 per minute)"
          }
        }
      }
    },
    "/claim": {
      "post": {
        "summary": "Submit a timestamp claim",
        "description": "Submit a hash with proof-of-work solution to create a timestamped claim on the blockchain.",
        "tags": ["Timestamps"],
        "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hash", "signature", "pubkey", "pow"],
                "properties": {
                  "hash": {
                    "type": "string",
                    "description": "SHA-256 hash (64 hex chars)",
                    "example": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Ed25519 signature over hash (128 hex chars)"
                  },
                  "pubkey": {
                    "type": "string",
                    "description": "Ed25519 public key (64 hex chars)"
                  },
                  "pow": {
                    "type": "object",
                    "required": ["challenge", "nonce"],
                    "properties": {
                      "challenge": {"type": "string"},
                      "nonce": {"type": "string", "description": "PoW nonce (hex)"}
                    }
                  },
                  "filename": {"type": "string", "description": "Optional display name"},
                  "notify_email": {"type": "string", "format": "email", "description": "One-time Bitcoin confirmation email"},
                  "notify_webhook": {"type": "string", "format": "uri", "description": "HTTPS URL for Bitcoin confirmation webhook"},
                  "notify_webhook_secret": {"type": "string", "description": "Optional HMAC secret for X-OTRUST-Signature"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Claim submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "receipt_id": {
                      "type": "string",
                      "description": "Unique receipt ID for tracking"
                    },
                    "hash": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["pending", "confirmed"]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (bad hash format, PoW not solved, etc)"
          },
          "429": {
            "description": "Rate limited (max 10 claims per minute)"
          }
        }
      }
    },
    "/claim/simple": {
      "post": {
        "summary": "Submit claim from email or web form (no PoW required)",
        "description": "Submit a timestamp claim without solving PoW. Used by email timestamper and web UI.",
        "tags": ["Timestamps"],
        "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hash"],
                "properties": {
                  "hash": {
                    "type": "string",
                    "description": "SHA-256 hash (hex)"
                  },
                  "source": {
                    "type": "string",
                    "description": "Source of claim (gpt, email, web, api, bot, unknown)",
                    "enum": ["gpt", "email", "web", "api", "bot", "unknown"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Claim created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "receipt_id": {
                      "type": "string"
                    },
                    "hash": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/claim/bulk": {
      "post": {
        "summary": "Submit multiple claims with single PoW",
        "description": "Batch submit up to 100 claims with a single proof-of-work solution (more efficient).",
        "tags": ["Timestamps"],
        "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hashes", "challenge", "solution"],
                "properties": {
                  "hashes": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string",
                      "description": "SHA-256 hashes in hex"
                    }
                  },
                  "challenge": {
                    "type": "string"
                  },
                  "solution": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All claims submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "receipt_id": {
                        "type": "string"
                      },
                      "hash": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verify": {
      "post": {
        "summary": "Verify hash timestamp",
        "description": "Check if a hash was previously timestamped and get proof details.",
        "tags": ["Verification"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hash"],
                "properties": {
                  "hash": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Claim found and verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "found": {
                      "type": "boolean"
                    },
                    "hash": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "receipt_id": {
                      "type": "string"
                    },
                    "blockchain_verified": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Hash not found in system"
          }
        }
      }
    },
    "/verify/bulk": {
      "post": {
        "summary": "Verify multiple hashes",
        "description": "Batch verify up to 100 hashes at once.",
        "tags": ["Verification"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hashes"],
                "properties": {
                  "hashes": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "hash": {
                        "type": "string"
                      },
                      "found": {
                        "type": "boolean"
                      },
                      "timestamp": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verify/signature": {
      "post": {
        "summary": "Verify Ed25519 signature",
        "description": "Verify a signature was created by the claimed public key.",
        "tags": ["Verification"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message", "pubkey", "signature"],
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Original message (hex)"
                  },
                  "pubkey": {
                    "type": "string",
                    "description": "Ed25519 public key (hex)"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Signature (hex)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proof/{receiptId}": {
      "get": {
        "summary": "Get OpenTimestamps proof",
        "description": "Retrieve the OTS proof for a specific receipt. Can be verified against Bitcoin blockchain.",
        "tags": ["Proofs"],
        "parameters": [
          {
            "name": "receiptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OTS proof (binary format)",
            "content": {
              "application/octet-stream": {}
            }
          },
          "404": {
            "description": "Receipt not found"
          },
          "202": {
            "description": "Proof pending (not yet anchored to blockchain)"
          }
        }
      }
    },
    "/lookup/{hash}": {
      "get": {
        "summary": "Check if hash exists",
        "description": "Look up whether a hash has been timestamped or used in a signing request.",
        "tags": ["Verification"],
        "parameters": [
          {"name": "hash", "in": "path", "required": true, "schema": {"type": "string"}, "description": "SHA-256 hash (hex)"}
        ],
        "responses": {
          "200": {
            "description": "Lookup result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exists": {"type": "boolean"},
                    "timestamp": {"type": "object"},
                    "sign_request": {"type": "object"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stats/badges.json": {
      "get": {
        "summary": "Compact stats for embeds",
        "description": "Lightweight public stats for trust badges and widgets.",
        "tags": ["Statistics"],
        "responses": {
          "200": {
            "description": "Badge stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "service": {"type": "string"},
                    "anchored_records": {"type": "integer"},
                    "latest_block": {"type": "integer"},
                    "updated_at": {"type": "string", "format": "date-time"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/receipts/{pubkey}": {
      "get": {
        "summary": "Get receipts by public key (removed)",
        "description": "Deprecated. Receipt history is stored locally in the browser only. This endpoint always returns 410 Gone.",
        "deprecated": true,
        "tags": ["Timestamps"],
        "parameters": [
          {"name": "pubkey", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Ed25519 public key (64 hex chars)"}
        ],
        "responses": {
          "410": {
            "description": "Receipt history is browser-local only",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {"type": "string", "example": "local_history_only"},
                    "message": {"type": "string"}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid public key format"
          }
        }
      }
    },
    "/verify/blockchain": {
      "post": {
        "summary": "Verify hash against OTS proof",
        "description": "Verify a hash against an OpenTimestamps proof file.",
        "tags": ["Verification"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hash", "ots_proof"],
                "properties": {
                  "hash": {"type": "string", "description": "SHA-256 hash (hex)"},
                  "ots_proof": {"type": "string", "description": "Base64-encoded OTS proof"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {"type": "boolean"},
                    "attestations": {"type": "array", "items": {"type": "object"}}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sign/create": {
      "post": {
        "summary": "Create a signing request",
        "description": "Create a new multi-party document signing request. Invitations are sent via email.",
        "tags": ["Signing"],
        "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["document_hash", "creator_email", "parties"],
                "properties": {
                  "document_hash": {"type": "string", "description": "SHA-256 hash of document (hex)"},
                  "title": {"type": "string", "description": "Document title"},
                  "creator_email": {"type": "string", "format": "email"},
                  "parties": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["email", "role"],
                      "properties": {
                        "name": {"type": "string"},
                        "email": {"type": "string", "format": "email"},
                        "role": {"type": "string", "enum": ["signer", "approver", "viewer"]}
                      }
                    }
                  },
                  "signing_order": {"type": "string", "enum": ["parallel", "sequential"], "default": "parallel"},
                  "message": {"type": "string", "description": "Message to include in invitation emails"}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sign request created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sign_id": {"type": "string"},
                    "document_hash": {"type": "string"},
                    "cancel_token": {"type": "string"},
                    "view_token": {"type": "string"},
                    "parties": {"type": "array", "items": {"type": "object"}},
                    "status": {"type": "string", "enum": ["pending"]},
                    "deadline": {"type": "string", "format": "date-time"}
                  }
                }
              }
            }
          },
          "409": {"description": "Document already in a signing process"}
        }
      }
    },
    "/sign/{id}": {
      "get": {
        "summary": "Get signing request status",
        "description": "Get the status of a signing request. Pass view_token as query param for full details.",
        "tags": ["Signing"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Sign request ID (sr_...)"},
          {"name": "token", "in": "query", "schema": {"type": "string"}, "description": "View token for authenticated access"}
        ],
        "responses": {
          "200": {
            "description": "Sign request status"
          }
        }
      }
    },
    "/sign/{id}/cancel": {
      "post": {
        "summary": "Cancel a signing request",
        "description": "Cancel a pending signing request. Requires the cancel_token from creation.",
        "tags": ["Signing"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"$ref": "#/components/parameters/IdempotencyKey"}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["cancel_token"],
                "properties": {
                  "cancel_token": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Sign request cancelled"}
        }
      }
    },
    "/api/proof/age": {
      "post": {
        "summary": "Retired server-side age proof endpoint",
        "description": "Private inputs must stay in the browser. Generate a Groth16 proof locally and submit it to /api/proof/submit.",
        "tags": ["ZK Proofs"],
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["birthDate", "minAge"],
                "properties": {
                  "birthDate": {"type": "string", "format": "date", "description": "YYYY-MM-DD"},
                  "minAge": {"type": "integer", "description": "Minimum age to prove"}
                }
              }
            }
          }
        },
        "responses": {
          "410": {
            "description": "Server-side proof generation is retired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/proof/submit": {
      "post": {
        "summary": "Verify and store a browser-generated Groth16 proof",
        "description": "Cryptographically verifies a locally generated age or income proof before storing it. Production submission remains unavailable until the published ceremony manifest is production-ready.",
        "tags": ["ZK Proofs"],
        "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["proofType", "version", "proof", "publicSignals", "commitment"],
                "properties": {
                  "proofType": {"type": "string", "enum": ["age", "income"]},
                  "version": {"type": "string", "enum": ["groth16-v3"]},
                  "proof": {"type": "object"},
                  "publicSignals": {
                    "type": "array",
                    "items": {"type": "string"},
                    "maxItems": 64
                  },
                  "commitment": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Proof verified and stored"},
          "400": {"description": "Invalid or unverifiable proof"},
          "503": {"description": "Production ceremony is not complete"}
        }
      }
    },
    "/api/proof/identity": {
      "post": {
        "summary": "Retired self-attested identity registration",
        "description": "Local document checks and client-reported liveness are not accepted as verified identity. A trusted issuer credential is required.",
        "tags": ["ZK Proofs"],
        "deprecated": true,
        "responses": {
          "410": {
            "description": "Trusted issuer credential required",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"}
              }
            }
          }
        }
      }
    },
    "/api/proof/{proofId}": {
      "get": {
        "summary": "Get proof by ID",
        "description": "Retrieve a zero-knowledge proof by its ID. Pass token as query param.",
        "tags": ["ZK Proofs"],
        "parameters": [
          {"name": "proofId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "token", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Proof data"}
        }
      }
    },
    "/api/proof/{proofId}/verify": {
      "post": {
        "summary": "Verify a proof",
        "description": "Cryptographically verify a zero-knowledge proof.",
        "tags": ["ZK Proofs"],
        "parameters": [
          {"name": "proofId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {"type": "boolean"},
                    "proofType": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/challenge": {
      "post": {
        "summary": "Create a registered hosted Auth challenge",
        "description": "Creates a short-lived challenge only when trusted issuer support is enabled and redirectUri exactly matches the registered client allowlist.",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["clientId", "redirectUri", "state"],
                "properties": {
                  "clientId": {"type": "string"},
                  "redirectUri": {"type": "string", "format": "uri"},
                  "scope": {
                    "type": "array",
                    "items": {"type": "string", "enum": ["identity", "email", "verification"]}
                  },
                  "state": {"type": "string", "minLength": 16, "maxLength": 500}
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Challenge created with challengeId, challenge, loginUrl, and expiresIn"},
          "400": {"description": "Invalid request, unregistered client, or redirect mismatch"},
          "503": {"description": "Trusted issuer or Auth client registration is not ready"}
        }
      }
    },
    "/api/v1/auth/challenge/{challengeId}": {
      "get": {
        "summary": "Get safe hosted Auth challenge metadata",
        "tags": ["Auth"],
        "parameters": [
          {"name": "challengeId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Safe challenge and branding metadata"},
          "404": {"description": "Challenge not found or expired"}
        }
      }
    },
    "/api/v1/auth/prove": {
      "post": {
        "summary": "Present issuer-bound credential ownership",
        "description": "Used by the hosted OTRUST page. Accepts only a current trusted issuer-bound identity credential.",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["challengeId", "proofId"],
                "properties": {
                  "challengeId": {"type": "string"},
                  "proofId": {"type": "string"},
                  "pin": {"type": "string", "pattern": "^[0-9]{6}$"},
                  "secret": {"type": "string"}
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Signed Auth token and registered callback URL"},
          "400": {"description": "Invalid, expired, or used challenge"},
          "403": {"description": "Trusted issuer credential required"},
          "503": {"description": "Trusted issuer or Auth client registration is not ready"}
        }
      }
    },
    "/api/v1/auth/verify": {
      "post": {
        "summary": "Verify an Auth token",
        "description": "Verifies token integrity, expiry, audience data, and the current trusted issuer binding.",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {"token": {"type": "string"}},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Verified token details"},
          "401": {"description": "Invalid or expired token"},
          "403": {"description": "Current trusted issuer credential required"},
          "503": {"description": "Trusted issuer or Auth client registration is not ready"}
        }
      }
    },
    "/api/v1/auth/userinfo": {
      "get": {
        "summary": "Get current issuer-bound identity information",
        "tags": ["Auth"],
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {"description": "Trusted issuer-bound user information"},
          "401": {"description": "Missing, invalid, or expired token"},
          "403": {"description": "Current trusted issuer credential required"},
          "503": {"description": "Trusted issuer or Auth client registration is not ready"}
        }
      }
    },
    "/stats": {
      "get": {
        "summary": "Get service statistics",
        "description": "Public statistics about timestamps and blockchain anchoring.",
        "tags": ["Info"],
        "responses": {
          "200": {
            "description": "Service statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_claims": {
                      "type": "integer"
                    },
                    "bitcoin_anchored": {
                      "type": "integer"
                    },
                    "pending_confirmation": {
                      "type": "integer"
                    },
                    "blockchain": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Check if service and database are operational.",
        "tags": ["Info"],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["ok"]
                    },
                    "claims": {
                      "type": "integer"
                    },
                    "version": {
                      "type": "string"
                    },
                    "commit_sha": {
                      "type": "string",
                      "nullable": true
                    },
                    "features": {
                      "type": "object",
                      "additionalProperties": {"type": "boolean"}
                    },
                    "zk_artifacts": {
                      "type": "object",
                      "properties": {
                        "status": {"type": "string"},
                        "production_ready": {"type": "boolean"},
                        "compiler_version": {"type": "string", "nullable": true}
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/api/v1/platform/me": {
      "get": {
        "summary": "Platform identity for API key",
        "tags": ["Platform"],
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": { "description": "Org and key metadata" },
          "401": { "description": "Missing or invalid API key" }
        }
      }
    },
    "/api/v1/platform/scopes": {
      "get": {
        "summary": "List available API key scopes",
        "tags": ["Platform"],
        "responses": { "200": { "description": "Scope list" } }
      }
    },
    "/api/v1/platform/organizations": {
      "post": {
        "summary": "Create organization (admin)",
        "tags": ["Platform"],
        "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}],
        "responses": {
          "201": { "description": "Organization created" },
          "409": { "description": "Idempotency key conflict" }
        }
      },
      "get": {
        "summary": "List organizations (admin)",
        "tags": ["Platform"],
        "parameters": [
          {"$ref": "#/components/parameters/PageLimit"},
          {"$ref": "#/components/parameters/PageCursor"}
        ],
        "responses": {
          "200": {
            "description": "Organization list with an optional next_cursor"
          }
        }
      }
    },
    "/api/v1/platform/webhooks/endpoints": {
      "post": {
        "summary": "Register webhook endpoint",
        "tags": ["Platform"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}],
        "responses": { "201": { "description": "Endpoint created" } }
      },
      "get": {
        "summary": "List webhook endpoints",
        "tags": ["Platform"],
        "security": [{ "ApiKeyAuth": [] }],
        "responses": { "200": { "description": "Endpoint list" } }
      }
    },
    "/api/v1/platform/webhooks/deliveries": {
      "get": {
        "summary": "Webhook delivery log",
        "tags": ["Platform"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {"$ref": "#/components/parameters/PageLimit"},
          {"$ref": "#/components/parameters/PageCursor"}
        ],
        "responses": { "200": { "description": "Deliveries" } }
      }
    }
  },
  "components": {
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Unique key for safely retrying a write request for 24 hours. Reusing a key with a different payload returns 409.",
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 128,
          "pattern": "^[a-zA-Z0-9._-]+$"
        }
      },
      "PageLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 50
        }
      },
      "PageCursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque next_cursor value returned by the previous page.",
        "schema": {"type": "string"}
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer otrust_live_... or X-OTRUST-Key header"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Short-lived issuer-bound Auth token"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Timestamps",
      "description": "Create and manage timestamp claims"
    },
    {
      "name": "Verification",
      "description": "Verify timestamps and signatures"
    },
    {
      "name": "Proofs",
      "description": "Retrieve blockchain proofs"
    },
    {
      "name": "Signing",
      "description": "Multi-party document signing with blockchain proof"
    },
    {
      "name": "ZK Proofs",
      "description": "Self-attested age and income range proofs"
    },
    {
      "name": "Auth",
      "description": "Registered challenges for trusted issuer-bound identity credentials"
    },
    {
      "name": "Info",
      "description": "Service information and health"
    },
    {
      "name": "Platform",
      "description": "Developer platform — API keys, webhooks, usage"
    }
  ]
}
